# Exploring rates

In [1]:
from astropy import constants as const
from astropy import units as u

from tardis.io.atom_data import AtomData
from tardis.plasma.detailed_balance.rates import (
    RadiativeRatesSolver,
    ThermalCollisionalRateSolver,
    UpsilonRegemorterSolver,
)
from tardis.plasma.radiation_field import (
    PlanckianRadiationField,
)

/Users/wkerzend/python/tardis/tardis/__init__.py:20: UserWarning: Astropy is already imported externally. Astropy should be imported after TARDIS.
  warnings.warn(

Iterations:          0/? [00:00<?, ?it/s]

Packets:             0/? [00:00<?, ?it/s]

In [2]:
#atom_data = AtomData.from_hdf('kurucz_cd23_chianti_H_He.h5')
atom_data = AtomData.from_hdf('/Users/wkerzend/python/tardis-refdata/nlte_atom_data/TestNLTE_He_Ti.h5')
lines_df = atom_data.lines

In [3]:
atom_data.collision_data_temperatures

array([   2000,    5000,   10000,   20000,   50000,  100000,  200000,
        500000, 1000000])

In [4]:
atom_data.collision_data

'dummy value'

In [5]:
radiative_transitions = lines_df.loc[(2,0, slice(None), slice(None)), :]

In [6]:
radiative_transitions

                                                                line_id  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                    533584
                         0                  4                    533561
                         2                  4                    533604
                         4                  9                    533664
                         0                  10                   533563
...                                                                 ...
                         205                234                  537353
                         206                234                  537357
                         219                234                  537397
                         220                234                  537399
                         233                234                  537415

                                                                  wavelength  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   1.083017e+04
                         0                  4                   5.843340e+02
                         2                  4                   2.058129e+04
                         4                  9                   6.678152e+03
                         0                  10                  5.370300e+02
...                                                                      ...
                         205                234                 1.554000e+06
                         206                234                 1.554000e+06
                         219                234                 3.373000e+06
                         220                234                 3.374000e+06
                         233                234                 7.975000e+10

                                                                    f_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   0.179800
                         0                  4                   0.092100
                         2                  4                   0.125500
                         4                  9                   0.426120
                         0                  10                  0.024487
...                                                                  ...
                         205                234                 0.012279
                         206                234                 0.447982
                         219                234                 0.048841
                         220                234                 3.693125
                         233                234                 0.000027

                                                                   f_lu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   0.53940
                         0                  4                   0.27630
                         2                  4                   0.37650
                         4                  9                   0.71020
                         0                  10                  0.07346
...                                                                 ...
                         205                234                 0.40633
                         206                234                 0.56620
                         219                234                 1.61620
                         220                234                 4.13630
                         233                234                 0.00088

                                                                          nu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   2.768123e+14
                         0                  4                   5.130498e+15
                         2                  4                   1.456626e+14
                         4                  9                   4.489153e+14
                         0                  10                  5.582415e+15
...                                                                      ...
                         205                234                 1.929166e+12
                         206                234                 1.929166e+12
                         219                234                 8.888006e+11
                         220                234                 8.885372e+11
                         233                234                 3.759153e+07

                                                                        B_lu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   9.808029e+10
                         0                  4                   2.710676e+09
                         2                  4                   1.300987e+11
                         4                  9                   7.962922e+10
                         0                  10                  6.623461e+08
...                                                                      ...
                         205                234                 1.060145e+13
                         206                234                 1.477258e+13
                         219                234                 9.152652e+13
                         220                234                 2.343110e+14
                         233                234                 1.178629e+15

                                                                        B_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   3.269343e+10
                         0                  4                   9.035585e+08
                         2                  4                   4.336624e+10
                         4                  9                   4.777753e+10
                         0                  10                  2.207820e+08
...                                                                      ...
                         205                234                 3.203736e+11
                         206                234                 1.168820e+13
                         219                234                 2.765911e+12
                         220                234                 2.092062e+14
                         233                234                 3.561791e+13

                                                                        A_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   1.022495e+07
                         0                  4                   1.799200e+09
                         2                  4                   1.976246e+06
                         4                  9                   6.373259e+07
                         0                  10                  5.663368e+08
...                                                                      ...
                         205                234                 3.391645e+01
                         206                234                 1.237375e+03
                         219                234                 2.863492e+01
                         220                234                 2.163944e+03
                         233                234                 2.789865e-11

                                                                wavelength_cm
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                        0.000108
                         0                  4                        0.000006
                         2                  4                        0.000206
                         4                  9                        0.000067
                         0                  10                       0.000005
...                                                                       ...
                         205                234                      0.015540
                         206                234                      0.015540
                         219                234                      0.033730
                         220                234                      0.033740
                         233                234                    797.500000

[3549 rows x 9 columns]

In [7]:
temperature = [10000, 20000] * u.K
rad_field = PlanckianRadiationField(temperature=temperature)

rad_rate_solver = RadiativeRatesSolver(radiative_transitions)

In [8]:
rad_rates_df = rad_rate_solver.solve(rad_field)

In [9]:
radiative_transitions

                                                                line_id  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                    533584
                         0                  4                    533561
                         2                  4                    533604
                         4                  9                    533664
                         0                  10                   533563
...                                                                 ...
                         205                234                  537353
                         206                234                  537357
                         219                234                  537397
                         220                234                  537399
                         233                234                  537415

                                                                  wavelength  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   1.083017e+04
                         0                  4                   5.843340e+02
                         2                  4                   2.058129e+04
                         4                  9                   6.678152e+03
                         0                  10                  5.370300e+02
...                                                                      ...
                         205                234                 1.554000e+06
                         206                234                 1.554000e+06
                         219                234                 3.373000e+06
                         220                234                 3.374000e+06
                         233                234                 7.975000e+10

                                                                    f_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   0.179800
                         0                  4                   0.092100
                         2                  4                   0.125500
                         4                  9                   0.426120
                         0                  10                  0.024487
...                                                                  ...
                         205                234                 0.012279
                         206                234                 0.447982
                         219                234                 0.048841
                         220                234                 3.693125
                         233                234                 0.000027

                                                                   f_lu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   0.53940
                         0                  4                   0.27630
                         2                  4                   0.37650
                         4                  9                   0.71020
                         0                  10                  0.07346
...                                                                 ...
                         205                234                 0.40633
                         206                234                 0.56620
                         219                234                 1.61620
                         220                234                 4.13630
                         233                234                 0.00088

                                                                          nu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   2.768123e+14
                         0                  4                   5.130498e+15
                         2                  4                   1.456626e+14
                         4                  9                   4.489153e+14
                         0                  10                  5.582415e+15
...                                                                      ...
                         205                234                 1.929166e+12
                         206                234                 1.929166e+12
                         219                234                 8.888006e+11
                         220                234                 8.885372e+11
                         233                234                 3.759153e+07

                                                                        B_lu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   9.808029e+10
                         0                  4                   2.710676e+09
                         2                  4                   1.300987e+11
                         4                  9                   7.962922e+10
                         0                  10                  6.623461e+08
...                                                                      ...
                         205                234                 1.060145e+13
                         206                234                 1.477258e+13
                         219                234                 9.152652e+13
                         220                234                 2.343110e+14
                         233                234                 1.178629e+15

                                                                        B_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   3.269343e+10
                         0                  4                   9.035585e+08
                         2                  4                   4.336624e+10
                         4                  9                   4.777753e+10
                         0                  10                  2.207820e+08
...                                                                      ...
                         205                234                 3.203736e+11
                         206                234                 1.168820e+13
                         219                234                 2.765911e+12
                         220                234                 2.092062e+14
                         233                234                 3.561791e+13

                                                                        A_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   1.022495e+07
                         0                  4                   1.799200e+09
                         2                  4                   1.976246e+06
                         4                  9                   6.373259e+07
                         0                  10                  5.663368e+08
...                                                                      ...
                         205                234                 3.391645e+01
                         206                234                 1.237375e+03
                         219                234                 2.863492e+01
                         220                234                 2.163944e+03
                         233                234                 2.789865e-11

                                                                wavelength_cm
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                        0.000108
                         0                  4                        0.000006
                         2                  4                        0.000206
                         4                  9                        0.000067
                         0                  10                       0.000005
...                                                                       ...
                         205                234                      0.015540
                         206                234                      0.015540
                         219                234                      0.033730
                         220                234                      0.033740
                         233                234                    797.500000

[3549 rows x 9 columns]

In [10]:
rad_rates_df

                                                                              0  \
atomic_number ion_number level_number_source level_number_destination
2             0          0                   4                         0.109340
                                             10                        0.003934
                                             18                        0.000791
                                             28                        0.000287
                                             40                        0.000138
...                                                                         ...
                         231                 229                       0.025427
                         232                 230                       0.009131
                         233                 231                       0.009009
                         235                 232                       0.000167
                         234                 233                       0.000155

                                                                                  1
atomic_number ion_number level_number_source level_number_destination
2             0          0                   4                         24293.644329
                                             10                         2585.380931
                                             18                          760.480592
                                             28                          329.201923
                                             40                          173.998738
...                                                                             ...
                         231                 229                           0.050853
                         232                 230                           0.018262
                         233                 231                           0.018018
                         235                 232                           0.000334
                         234                 233                           0.000309

[7098 rows x 2 columns]

## Collisional Rates

In [11]:
col_strength_solver = UpsilonRegemorterSolver(radiative_transitions)

In [12]:
ups = col_strength_solver.solve(temperature)

In [13]:
col_strength_temperatures = atom_data.collision_data_temperatures
col_strengths = atom_data.yg_data.loc[(2,0, slice(None), slice(None)), :]
collisional_rate_solver = ThermalCollisionalRateSolver(radiative_transitions, col_strength_temperatures, col_strengths, 'cmfgen')

In [14]:
collisional_rate_solver.solve(temperature)

                                                                           0  \
atomic_number ion_number level_number_lower level_number_upper
2             0          0                  1                   7.270000e-02
                                            2                   3.830000e-02
                                            3                   2.420000e-02
                                            4                   1.630000e-02
                                            5                   1.830000e-02
...                                                                      ...
                         229                231                 5.706217e+05
                         230                232                 3.624163e+06
                         231                233                 3.626137e+06
                         232                235                 4.592647e+06
                         233                234                 4.604415e+06

                                                                           1
atomic_number ion_number level_number_lower level_number_upper
2             0          0                  1                   7.220000e-02
                                            2                   4.320000e-02
                                            3                   3.400000e-02
                                            4                   2.630000e-02
                                            5                   2.000000e-02
...                                                                      ...
                         229                231                 6.009353e+05
                         230                232                 3.797912e+06
                         231                233                 3.799899e+06
                         232                235                 4.806122e+06
                         233                234                 4.817884e+06

[3681 rows x 2 columns]

In [40]:
atom_data.collision_data.delta_e * const.k_B

atomic_number  ion_number  level_number_lower  level_number_upper
1              0           0                   2                     1.634030e-18
                                               1                     1.634029e-18
                                               3                     1.634036e-18
                                               5                     1.936630e-18
                                               4                     1.936630e-18
                                                                         ...
2              1           2                   20                    1.830975e-18
                                               21                    1.830975e-18
                                               22                    1.830976e-18
                                               23                    1.830976e-18
                                               24                    1.830977e-18
Name: delta_e, Length: 358, dtype: float64

In [45]:
(atom_data.lines.loc[1,0, 0, 3].nu.values[0] * u.Hz * const.h).to(u.J)

/var/folders/fg/nwmb1mss6kq3hwhj10dt0qh00000gn/T/ipykernel_571/2191378405.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  (atom_data.lines.loc[1,0, 0, 3].nu.values[0] * u.Hz * const.h).to(u.J)

In [1]:
atom_data.lines

NameError: name 'atom_data' is not defined

atomic_number  ion_number  level_number_lower  level_number_upper
1              0           0                   2                     1.634030e-18
                                               1                     1.634029e-18
                                               3                     1.634036e-18
                                               5                     1.936630e-18
                                               4                     1.936630e-18
                                                                         ...
2              1           2                   20                    1.830975e-18
                                               21                    1.830975e-18
                                               22                    1.830976e-18
                                               23                    1.830976e-18
                                               24                    1.830977e-18
Name: delta_e, Length: 358, dtype: float64

In [10]:
collisional_transitions = atom_data.collision_data.loc[(2,0, slice(None), slice(None)), :]

In [15]:
collisional_transitions.index.difference(radiative_transitions.index)

MultiIndex([(2, 0, 0,  1),
            (2, 0, 0,  2),
            (2, 0, 0,  3),
            (2, 0, 0,  4),
            (2, 0, 0,  5),
            (2, 0, 0,  7),
            (2, 0, 0,  8),
            (2, 0, 0,  9),
            (2, 0, 0, 10),
            (2, 0, 0, 11),
            ...
            (2, 0, 5, 39),
            (2, 0, 5, 40),
            (2, 0, 5, 41),
            (2, 0, 5, 42),
            (2, 0, 5, 43),
            (2, 0, 5, 44),
            (2, 0, 5, 45),
            (2, 0, 5, 46),
            (2, 0, 5, 47),
            (2, 0, 5, 48)],
           names=['atomic_number', 'ion_number', 'level_number_lower', 'level_number_upper'], length=221)

In [17]:
collisional_transitions.loc[2,0, 0, 1]

g_ratio    3.333333e-01
delta_e    2.299972e+05
t002000    1.596743e-09
t004000    1.129220e-09
t006000    9.221284e-10
t008000    7.986942e-10
t010000    7.144701e-10
t012000    6.523069e-10
t014000    6.040002e-10
t016000    5.650665e-10
t018000    5.328216e-10
t020000    5.055470e-10
t022000    4.820850e-10
t024000    4.616234e-10
t026000    4.435730e-10
t028000    4.274952e-10
t030000    4.130551e-10
t032000    3.999927e-10
t034000    3.881021e-10
t036000    3.772181e-10
t038000    3.672065e-10
t040000    3.579567e-10
t042000    3.493769e-10
t044000    3.413900e-10
t046000    3.339308e-10
t048000    3.269438e-10
Name: (2, 0, 0, 1), dtype: float64