# Exploring rates

In [1]:
import numpy as np
import pandas as pd
from astropy import units as u

from tardis.io.atom_data import AtomData
from tardis.plasma.assembly.base import PlasmaSolverFactory
from tardis.plasma.radiation_field import DilutePlanckianRadiationField

/Users/wkerzend/python/tardis/tardis/__init__.py:20: UserWarning: Astropy is already imported externally. Astropy should be imported after TARDIS.
  warnings.warn(

Iterations:          0/? [00:00<?, ?it/s]

Packets:             0/? [00:00<?, ?it/s]

In [2]:
atom_data = AtomData.from_hdf('kurucz_cd23_chianti_H_He.h5')

In [8]:
atom_data.lines.loc[(14, 2), ['nu', 'A_ul', 'B_ul', 'B_lu', 'line_id']]

/var/folders/fg/nwmb1mss6kq3hwhj10dt0qh00000gn/T/ipykernel_36508/3652199509.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  atom_data.lines.loc[(14, 2), ['nu', 'A_ul', 'B_ul', 'B_lu', 'line_id']]

                                                 nu          A_ul  \
level_number_lower level_number_upper
0                  96                  7.342923e+15  4.416900e+07
10                 96                  3.057509e+15  3.119717e+06
14                 96                  2.574130e+15  8.215624e+06
23                 96                  1.299170e+15  9.788389e+05
24                 96                  1.299153e+15  2.955972e+06
...                                             ...           ...
141                165                 9.719751e+13  1.641959e+07
                   165                 9.719751e+13  1.568058e+03
142                165                 9.719751e+13  1.397533e+05
                   165                 9.719751e+13  1.189494e+05
                   166                 9.719751e+13  1.648381e+07

                                               B_ul          B_lu  line_id
level_number_lower level_number_upper
0                  96                  7.565994e+06  2.269798e+07    65821
10                 96                  7.402309e+06  4.441385e+06    65936
14                 96                  3.266664e+07  9.799993e+07    65995
23                 96                  3.027395e+07  3.027395e+07    66231
24                 96                  9.142703e+07  5.485622e+07    66232
...                                             ...           ...      ...
141                165                 1.212697e+12  1.374390e+12    67281
                   165                 1.158116e+08  1.312532e+08    67284
142                165                 1.032172e+10  1.032172e+10    67280
                   165                 8.785211e+09  8.785211e+09    67285
                   166                 1.217440e+12  1.360668e+12    67283

[1248 rows x 5 columns]