# Exploring rates

In [1]:
import numpy as np
from astropy import units as u

from tardis.io.atom_data import AtomData
from tardis.plasma.detailed_balance.rates import RadiativeRatesSolver, CollisionCrossSectionRegemorter
from tardis.plasma.radiation_field import (
    PlanckianRadiationField,
)
from astropy import constants as const

/Users/wkerzend/python/tardis/tardis/__init__.py:20: UserWarning: Astropy is already imported externally. Astropy should be imported after TARDIS.
  warnings.warn(

Iterations:          0/? [00:00<?, ?it/s]

Packets:             0/? [00:00<?, ?it/s]

In [2]:
atom_data = AtomData.from_hdf('kurucz_cd23_chianti_H_He.h5')
lines_df = atom_data.lines

In [3]:
selected_transitions = lines_df.loc[(2,0, slice(None), slice(None)), :]

In [4]:
temperature = [10000, 20000] * u.K
rad_field = PlanckianRadiationField(temperature=temperature)

rad_rate_solver = RadiativeRatesSolver(selected_transitions)

In [5]:
rad_rates_df = rad_rate_solver.solve(rad_field)

In [6]:
rad_rates_df

                                                                                  0  \
atomic_number ion_number level_number_source level_number_destination
2             0          0                   6                         1.092259e-01
                                             16                        3.931126e-03
                                             30                        7.998261e-04
                                             48                        2.921823e-04
                         1                   3                         1.247811e+07
...                                                                             ...
                         46                  28                        3.113439e+06
                         39                  29                        1.741319e+05
                         47                  29                        1.424213e+07
                         32                  30                        5.589118e+06
                         39                  30                        5.195260e+06

                                                                                  1
atomic_number ion_number level_number_source level_number_destination
2             0          0                   6                         2.426770e+04
                                             16                        2.583324e+03
                                             30                        7.686424e+02
                                             48                        3.349007e+02
                         1                   3                         3.671871e+07
...                                                                             ...
                         46                  28                        5.720071e+06
                         39                  29                        3.199534e+05
                         47                  29                        2.616593e+07
                         32                  30                        1.037015e+07
                         39                  30                        9.558669e+06

[360 rows x 2 columns]

## Collisional Rates

In [7]:
col_rate_reg_solver = CollisionCrossSectionRegemorter(selected_transitions)

In [8]:
x = col_rate_reg_solver.solve(temperature)

In [9]:
x

                                                                   10000.0  \
atomic_number ion_number level_number_lower level_number_upper
2             0          0                  6                     0.512696
                                            16                    0.125310
                                            30                    0.050135
                                            48                    0.025079
                         1                  3                    20.973321
...                                                                    ...
                         28                 46                   63.623049
                         29                 39                    1.822159
                                            47                  267.281517
                         30                 32                   38.468438
                                            39                  132.704403

                                                                   20000.0
atomic_number ion_number level_number_lower level_number_upper
2             0          0                  6                     0.512696
                                            16                    0.125310
                                            30                    0.050135
                                            48                    0.025079
                         1                  3                    22.514689
...                                                                    ...
                         28                 46                   89.779029
                         29                 39                    2.570976
                                            47                  377.163149
                         30                 32                   53.712390
                                            39                  186.980810

[180 rows x 2 columns]