# Exploring rates

In [1]:
import numpy as np
from astropy import units as u

from tardis.io.atom_data import AtomData
from tardis.plasma.detailed_balance.rates import RadiativeRatesSolver, CollisionCrossSectionRegemorter
from tardis.plasma.radiation_field import (
    PlanckianRadiationField,
)
from astropy import constants as const

/Users/wkerzend/python/tardis/tardis/__init__.py:20: UserWarning: Astropy is already imported externally. Astropy should be imported after TARDIS.
  warnings.warn(

Iterations:          0/? [00:00<?, ?it/s]

Packets:             0/? [00:00<?, ?it/s]

In [2]:
atom_data = AtomData.from_hdf('kurucz_cd23_chianti_H_He.h5')
lines_df = atom_data.lines

In [13]:
radiative_transitions = lines_df.loc[(2,0, slice(None), slice(None)), :]

In [14]:
radiative_transitions

                                                                line_id  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                    533170
                                            4                    533171
                         0                  6                    533166
                         2                  6                    533182
                         0                  16                   533167
...                                                                 ...
                         26                 46                   533336
                         27                 46                   533340
                         28                 46                   533344
                         27                 45                   533339
                         29                 47                   533346

                                                                wavelength  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                    10833.307
                                            4                    10833.217
                         0                  6                      584.335
                         2                  6                    20586.937
                         0                  16                     537.031
...                                                                    ...
                         26                 46                   40490.052
                         27                 46                   40490.167
                         28                 46                   40490.314
                         27                 45                   40490.216
                         29                 47                   40490.429

                                                                    f_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   0.365400
                                            4                   0.608000
                         0                  6                   0.092000
                         2                  6                   0.125667
                         0                  16                  0.024467
...                                                                  ...
                         26                 46                  0.028000
                         27                 46                  0.000571
                         28                 46                  0.228857
                         27                 45                  0.448636
                         29                 47                  1.046889

                                                                    f_lu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   0.609000
                                            4                   0.608000
                         0                  6                   0.276000
                         2                  6                   0.377000
                         0                  16                  0.073400
...                                                                  ...
                         26                 46                  0.028000
                         27                 46                  0.000444
                         28                 46                  0.320400
                         27                 45                  0.548333
                         29                 47                  1.346000

                                                                          nu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   2.767322e+14
                                            4                   2.767345e+14
                         0                  6                   5.130489e+15
                         2                  6                   1.456227e+14
                         0                  16                  5.582405e+15
...                                                                      ...
                         26                 46                  7.404102e+13
                         27                 46                  7.404081e+13
                         28                 46                  7.404054e+13
                         27                 45                  7.404072e+13
                         29                 47                  7.404033e+13

                                                                        B_lu  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   1.107679e+11
                                            4                   1.105851e+11
                         0                  6                   2.707737e+09
                         2                  6                   1.303073e+11
                         0                  16                  6.618064e+08
...                                                                      ...
                         26                 46                  1.903452e+10
                         27                 46                  3.019850e+08
                         28                 46                  2.178107e+11
                         27                 45                  3.727608e+11
                         29                 47                  9.150250e+11

                                                                        B_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   6.646073e+10
                                            4                   1.105851e+11
                         0                  6                   9.025791e+08
                         2                  6                   4.343575e+10
                         0                  16                  2.206021e+08
...                                                                      ...
                         26                 46                  1.903452e+10
                         27                 46                  3.882664e+08
                         28                 46                  1.555791e+11
                         27                 45                  3.049861e+11
                         29                 47                  7.116861e+11

                                                                        A_ul  \
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                   2.076771e+07
                                            4                   3.455659e+07
                         0                  6                   1.797241e+09
                         2                  6                   1.977784e+06
                         0                  16                  5.658722e+08
...                                                                      ...
                         26                 46                  1.139209e+05
                         27                 46                  2.323742e+03
                         28                 46                  9.311173e+05
                         27                 45                  1.825309e+06
                         29                 47                  4.259298e+06

                                                                wavelength_cm
atomic_number ion_number level_number_lower level_number_upper
2             0          1                  3                        0.000108
                                            4                        0.000108
                         0                  6                        0.000006
                         2                  6                        0.000206
                         0                  16                       0.000005
...                                                                       ...
                         26                 46                       0.000405
                         27                 46                       0.000405
                         28                 46                       0.000405
                         27                 45                       0.000405
                         29                 47                       0.000405

[180 rows x 9 columns]

In [4]:
temperature = [10000, 20000] * u.K
rad_field = PlanckianRadiationField(temperature=temperature)

rad_rate_solver = RadiativeRatesSolver(radiative_transitions)

In [5]:
rad_rates_df = rad_rate_solver.solve(rad_field)

In [6]:
rad_rates_df

                                                                                  0  \
atomic_number ion_number level_number_source level_number_destination
2             0          0                   6                         1.092259e-01
                                             16                        3.931126e-03
                                             30                        7.998261e-04
                                             48                        2.921823e-04
                         1                   3                         1.247811e+07
...                                                                             ...
                         46                  28                        3.113439e+06
                         39                  29                        1.741319e+05
                         47                  29                        1.424213e+07
                         32                  30                        5.589118e+06
                         39                  30                        5.195260e+06

                                                                                  1
atomic_number ion_number level_number_source level_number_destination
2             0          0                   6                         2.426770e+04
                                             16                        2.583324e+03
                                             30                        7.686424e+02
                                             48                        3.349007e+02
                         1                   3                         3.671871e+07
...                                                                             ...
                         46                  28                        5.720071e+06
                         39                  29                        3.199534e+05
                         47                  29                        2.616593e+07
                         32                  30                        1.037015e+07
                         39                  30                        9.558669e+06

[360 rows x 2 columns]

## Collisional Rates

In [7]:
col_rate_reg_solver = CollisionCrossSectionRegemorter(radiative_transitions)

In [8]:
x = col_rate_reg_solver.solve(temperature)

In [9]:
x

                                                                   10000.0  \
atomic_number ion_number level_number_lower level_number_upper
2             0          0                  6                     0.512696
                                            16                    0.125310
                                            30                    0.050135
                                            48                    0.025079
                         1                  3                    20.973321
...                                                                    ...
                         28                 46                   63.623049
                         29                 39                    1.822159
                                            47                  267.281517
                         30                 32                   38.468438
                                            39                  132.704403

                                                                   20000.0
atomic_number ion_number level_number_lower level_number_upper
2             0          0                  6                     0.512696
                                            16                    0.125310
                                            30                    0.050135
                                            48                    0.025079
                         1                  3                    22.514689
...                                                                    ...
                         28                 46                   89.779029
                         29                 39                    2.570976
                                            47                  377.163149
                         30                 32                   53.712390
                                            39                  186.980810

[180 rows x 2 columns]